*{
    margin: 0;
    padding: 0;
}

section{
background-image: url(car3.png);      
height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.60);
    overflow: hidden;
}
.head{
    display: flex;
}
.list{
    margin-left: 700px;
    padding-top: 8px;
}
a{
    font-size: 22px;
    color: white;
   padding-left: 50px;
    text-decoration: none;
    transition: .3s;
opacity: 0;
animation: slideTop .5s ease forwards;
}
a :hover{
    color: black;
    font-size: 25px;
}
.box{
    color: white;
    padding-top: 100px;
  }
  h3{
  margin-left: 80px;
   background-color: rgba(0, 255, 255, 0.478);
    height: 30px;
     width: 130px;
      text-align: center; 
  padding-top: 8px;
   border-radius: 20px; 
   margin-top: 20px;
   opacity: 0; 
animation: slideTop 1s ease forwards;
animation-delay: 0s;
  }
  @keyframes slideTop {
0%{
  transform: translateY(100px);
  opacity: 0;
}
100%{
  transform: translateY(0px);
  opacity: 1;
}
}
  h3:hover{
      box-shadow: 0 0 5px rgb(10, 174, 174) ,
      0 0 25px cyan,
      0 0 50px cyan,
      0 0 25px cyan,
      0 0 100px cyan,
      0 0 200px cyan;
       
  }